# VSCode
.vscode
**/.vscode/

# Eclipse
.settings
.project

# Maven
target
**/target/

# Java annotation processor (APT)
.factorypath
application*.yml

# Output
*.xlsx
*.docx
*.pdf
logs
**/logs
*.log
.classpath
.factorypath
.settings/org.eclipse.jdt.core.prefs
