body {
  margin: 20px;
  background-color: black;
}
a {
  text-decoration: none;
}
a:hover {
  color: hotpink;
  cursor: pointer;
}

.bookList {
  width: 80%;
  margin: auto;
}

.pagination {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 10%;
}

.pagination > div {
  margin: 10px;
}

.active {
  color: hotpink;
}
