<html>

<head>
    <title>Book Screen</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div>
        <div class="navigation">
            <a href="/home">Home</a>
            <a href="/book">Book</a>
            <a href="/add">Add</a>
            <a href="/search">Search</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
        <div th:switch="${books.size()}">
            <h1 th:case="0">No books here!</h1>
            <div th:case="*">
                <h1>List of all books:</h1>
                <div class="export-import">
                    <form method="post" action="#" th:action="@{/exportPdf}" th:object="${wrapper}">
                        <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                            th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
                        <input type="submit" value="Export to PDF"></input>
                        <span th:text="${exportPdfSuccessfully}"></span>
                    </form>
                    <form method="post" action="#" th:action="@{/exportDoc}" th:object="${wrapper}">
                        <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                            th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
                        <input type="submit" value="Export to DOCX"></input>
                        <span th:text="${exportDocSuccessfully}"></span>
                    </form>
                    <form method="post" action="#" th:action="@{/export}" th:object="${wrapper}">
                        <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                            th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
                        <input type="submit" value="Export to XLSX"></input>
                        <span th:text="${exportExcelSuccessfully}"></span>
                    </form>
                </div>
                <table border="0" cellpadding="10" class="bookList">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Published Year
                            </th>
                            <!-- <th>
                                Imported Date
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book,stat : ${bookPage.content}">
                            <td th:text="${book.id}" />
                            <td th:text="${book.author}" />
                            <td>:</td>
                            <td th:text="${book.title}" />
                            <td th:if="${book.published} == null" th:text="Unknown" />
                            <td th:if="${book.published}" th:text="${book.published}" />
                            <!-- <td th:text="${book.imported}" /> -->
                            <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
                            <td><a onclick="return confirm('Delete this book')"
                                    th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                        </tr>
                    </tbody>

                </table>
                <div class="pagination">
                    <div th:if="${bookPage.getTotalPages() > 0}" th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/book(page=${pageNumber})}" th:text="${pageNumber}"
                            th:class="${pageNumber==bookPage.getNumber() + 1} ? active"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>