<html>

<head>
    <title>Book Screen</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="/js/toggleLink.js"></script>
</head>

<body>
    <div>
        <div class="navigation">
            <a href="/home">Home</a>
            <a href="/book">Book</a>
            <a href="/add">Add</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
        <div th:switch="${haveBook}">
            <h1 th:case="0">No books here!</h1>
            <div th:case="*">
                <h1>List of all books:</h1>
                <div class="export-import">
                    <form method="post" action="#" th:action="@{/exportPdf}" th:object="${wrapper}">
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].id}" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].author}" />
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].title}"
                            type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].published}" type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].imported}" type="hidden" />
                        <input type="submit" value="Export to PDF"></input>
                        <span th:text="${exportPdfSuccessfully}"></span>
                    </form>
                    <form method="post" action="#" th:action="@{/exportDoc}" th:object="${wrapper}">
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].id}" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].author}" />
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].title}"
                            type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].published}" type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].imported}" type="hidden" />
                        <input type="submit" value="Export to DOCX"></input>
                        <span th:text="${exportDocSuccessfully}"></span>
                    </form>
                    <form method="post" action="#" th:action="@{/export}" th:object="${wrapper}">
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].id}" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].author}" />
                        <input hidden="true" th:each="book,stat : *{books}" th:field="*{books[__${stat.index}__].title}"
                            type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].published}" type="hidden" />
                        <input hidden="true" th:each="book,stat : *{books}"
                            th:field="*{books[__${stat.index}__].imported}" type="hidden" />
                        <input type="submit" value="Export to XLSX"></input>
                        <span th:text="${exportExcelSuccessfully}"></span>
                    </form>
                </div>
                <form action="#" th:action="@{/search}" th:object="${searchBook}" method="post">
                    <table border="0" cellpadding="5">
                        <tr>
                            <td>Author:<input type="text" th:field="*{author}" /></td>
                            <td>Title:<input type="text" th:field="*{title}" /></td>
                            <td>Published year:<input type="number" th:field="*{published}" /></td>
                            <td>Published From <input type="number" name="from" field="from" /></td>
                            <td>Published To <input type="number" name="to" field="to" /></td>
                            <td><input onclick="location.href='/book'" type="button" value="Clear" /></td>
                            <td><input type="submit" value="Search" /></td>
                        </tr>
                    </table>
                </form>
                <table border="1" cellpadding="10" class="bookList" th:if="${bookPage}">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Published Year
                            </th>
                            <th>
                                Imported Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book,stat : ${bookPage.content}">
                            <td th:text="${book.id}" />
                            <td th:text="${book.author}" />
                            <td th:text="${book.title}" />
                            <td th:if="${book.published} == null" text="" />
                            <td th:if="${book.published}" th:text="${book.published}" />
                            <td th:text="${book.imported}" />
                            <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
                            <td><a onclick="return confirm('Delete this book')"
                                    th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
                        </tr>
                    </tbody>

                </table>
                <table border="1" cellpadding="10" class="bookList" th:if="${searchBookPage}">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Published year</th>
                            <th>Imported date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="searchBook: ${searchBookPage.content}">
                            <td th:text="${searchBook.id}" />
                            <td th:text="${searchBook.author}" />
                            <td th:text="${searchBook.title}" />
                            <td th:if="${searchBook.published}" th:text="${searchBook.published}" />
                            <td th:if="${searchBook.published} == null" text="" />
                            <td th:text="${searchBook.imported}" />
                            <td><a th:href=" @{/edit/{id}(id=${searchBook.id})}">Edit</a></td>
                            <td><a onclick="return confirm('Delete this book')"
                                    th:href="@{/delete/{id}(id=${searchBook.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination" th:if="${searchBookPage}">
                    <p>
                        <a style="text-decoration: none" th:if=" ${searchBookPage.getNumber() !=0}"
                            th:href="@{/search(page=${searchBookPage.getNumber()})}">
                            < </a>
                                Page
                                <span th:text="${searchBookPage.getNumber() + 1}" /> of
                                <span th:text="${searchBookPage.getTotalPages()}" />
                                <a style="text-decoration: none"
                                    th:if="${searchBookPage.getNumber() + 1 < searchBookPage.getTotalPages()}"
                                    th:href="@{/search(page=${searchBookPage.getNumber() + 2})}">
                                    >
                                </a>
                                <button text="vv" value="vv" class="dropbtn" onclick="toggleLink()"></button>
                                <div id="dropdown" th:if=" ${searchBookPage.getTotalPages()> 0}"
                                    class="dropdown-content">
                                    <a th:each="pageNumber : ${pageNumbers}" th:href="@{/search(page=${pageNumber})}"
                                        th:text="${pageNumber}"
                                        th:class="${pageNumber==searchBookPage.getNumber() + 1} ? active"></a>
                                </div>
                    </p>

                </div>

                <div class="pagination" th:if="${bookPage}">
                    <p>
                        <a style="text-decoration: none" th:if=" ${bookPage.getNumber() !=0}"
                            th:href="@{/book(page=${bookPage.getNumber()})}">
                            < </a>

                                Page <span th:text="${bookPage.getNumber() + 1}"></span> of <span
                                    th:text="${bookPage.getTotalPages()}"></span>
                                <a style="text-decoration: none"
                                    th:if="${bookPage.getNumber() + 1 < bookPage.getTotalPages()}"
                                    th:href="@{/book(page=${bookPage.getNumber() + 2})}">
                                    >
                                </a>
                                <button type="button" value="v" text="v" class="dropbtn"
                                    onclick="toggleLink()">v</button>
                                <div id="dropdown" th:if="${bookPage.getTotalPages() > 0}" class="dropdown-content">
                                    <a th:each="pageNumber : ${pageNumbers}" th:href="@{/book(page=${pageNumber})}"
                                        th:text="${pageNumber}"
                                        th:class="${pageNumber==bookPage.getNumber() + 1} ? active"></a>
                                </div>
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>