<html>

<head>
    <title>Login Screen</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/validate.js"></script>
</head>

<body style="background-color: black; color: white">
    <form th:action="@{/login}" method="post" class="login">
        <div>
            <p>Login</p>
            <p th:if="${usernameError}" style="color: red">Username:</p>
            <p th:if="${usernameError} == null">Username:</p>
            <input placeholder="Username" type="username" name="username" id="username" th:value="${username}"
                onchange="validateUsername()" />
            <span th:text="${usernameError}"></span>

            <p th:if="${passwordError}" style="color: red">Password:</p>
            <p th:if="${passwordError} == null">Password:</p>
            <input placeholder="Password" type="password" name="password" id="password" />
            <span th:text="${passwordError}"></span>
            <p><input type="submit" value="Login" /></p>
            <span th:text="${logout}" style="color: green"></span>
        </div>
    </form>
</body>

</html>