<html>

<head>
    <title>Search book</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="navigation">
        <a href="/home">Home</a>
        <a href="/book">Book</a>
        <a href="/add">Add</a>
        <a href="/search">Search</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
    <h1>Search Book</h1>
    <div class="export-import">
        <form method="post" action="#" th:action="@{/exportPdf}" th:object="${wrapper}">
            <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
            <input type="submit" value="Export to PDF"></input>
            <span th:text="${exportPdfSuccessfully}"></span>
        </form>
        <form method="post" action="#" th:action="@{/exportDoc}" th:object="${wrapper}">
            <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
            <input type="submit" value="Export to DOCX"></input>
            <span th:text="${exportDocSuccessfully}"></span>
        </form>
        <form method="post" action="#" th:action="@{/export}" th:object="${wrapper}">
            <input th:each="book,stat : *{books}" type="hidden" th:name="*{books[__${stat.index}__]}"
                th:field="*{books[__${stat.index}__]}" th:value="*{books[__${stat.index}__]}" />
            <input type="submit" value="Export to XLSX"></input>
        </form>
    </div>
    <form action="#" th:action="@{/search}" th:object="${newBook}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Book author: </td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Book title: </td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Book published year: </td>
                <td><input type="number" th:field="*{published}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Search</button></td>
            </tr>
        </table>
    </form>
    <table border="0" cellpadding="10" class="bookList" th:if="${searchBooks}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th></th>
                <th>Title</th>
                <th>Published year</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="searchBook: ${searchBooks}">
                <td th:text="${searchBook.id}" />
                <td th:text="${searchBook.author}" />
                <td>:</td>
                <td th:text="${searchBook.title}" />
                <td th:if="${searchBook.published}" th:text="${searchBook.published}" />
                <td th:if="${searchBook.published} == null" th:text="Unknown" />
                <td><a th:href="@{/edit/{id}(id=${searchBook.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${searchBook.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <!-- <li th:each="searchBook : ${searchBooks}">
        <span th:text="${searchBook.author}"></span>
        : <span th:text="${searchBook.title}"></span>
        <span><a th:href="@{/editBook/{id}(id=${searchBook.id})}">Edit</a></span>
        <span><a th:href="@{/del/{id}(id=${searchBook.id})}">Delete</a></span>
        </li> -->
</body>

</html>