<html>

<head>
    <title>Edit book</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/validate.js"></script>
</head>

<body>
    <div>
        <div class="navigation">
            <a href="/home">Home</a>
            <a href="/book">Book</a>
            <a href="/add">Add</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>
        <h1>Edit book</h1>
        <form id="form" method="post" action="#" th:action="@{/update}" th:object="${editBook}"
            onsubmit="return validateInput()">
            <table>
                <tr>
                    <td>
                        <p>Book ID:</p>
                    </td>
                    <td>
                        <input type="text" th:value="*{id}" readonly="True" width="0" disabled
                            style="color: white; background-color: dimgray;" />
                        <input th:field="*{id}" hidden />
                    </td>
                </tr>
                <tr>
                    <td id="authorcell">
                        <p>Book author:<span style="color: red">*</span></p>
                    </td>
                    <td>
                        <input id="author" type="text" th:field="*{author}" />
                    </td>
                </tr>
                <tr>
                    <td id="titlecell">
                        <p>Book title:<span style="color: red">*</span></p>
                    </td>
                    <td>
                        <input id="title" type="text" th:field="*{title}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Book published year:</p>
                    </td>
                    <td>
                        <input type="number" th:field="*{published}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
            <p style="color: green" th:if="${success}" th:text="${success}" />
            <p style="color: red" th:if="${error}" th:text="${error}" />
        </form>
    </div>
</body>

</html>